Repository Beramos/DS-Julia2925, pull requests merged in 2021-02, with the labels that each got.

#65 Resolve deps ds-julia
  launch.jl
  notebooks/Project.toml
Labels: bug, deployment

#71 Final check collections
  notebooks/day1/02-collections.jl
Labels: day 1

#72 Cleaning up the repo
  notebooks/day2/03-metaprogramming.jl
  notebooks/day2/04-flatland.jl
  notebooks/examples/flatland.jl
  scripts/intermezzo-diffeq-optim.jl
Labels: enhancement

#68 Extra exercise basics 2
  notebooks/day1/01-basics.jl
  src/solutions.jl
Labels: day 1

#73 proofread 03-exercises.jl and day 2
  notebooks/day1/03-exercises.jl
  notebooks/day2/01-types.jl
  notebooks/day2/02-composite_types.jl
  notebooks/day2/03-metaprogramming.jl
Labels: enhancement

#50 init example for spectra intermezzo
  notebooks/day2/spectra/DirectConvolution/DirectConvolution.jl
  notebooks/day2/spectra/DirectConvolution/SG_Filter.jl
  notebooks/day2/spectra/DirectConvolution/directConvolution.jl
  notebooks/day2/spectra/DirectConvolution/linearFilter.jl
  notebooks/day2/spectra/DirectConvolution/udwt.jl
  notebooks/day2/spectra/DirectConvolution/utils.jl
  notebooks/day2/spectra/Project.toml
  notebooks/day2/spectra/Spectrum.jl
  notebooks/day2/spectra/intermezzo-spectra.jl
  notebooks/day2/spectra/launch.jl
  notebooks/day2/spectra/nir_data_components_small.csv
  notebooks/day2/spectra/nir_data_small.csv
  notebooks/day2/spectra/plotting.jl
  notebooks/day2/spectra/processing.jl
  notebooks/day2/spectra/read_data.jl
Labels: day 2
